<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="https://www.transportation.gov/sites/dot.gov/themes/dot/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="description" content="The Disability Resource Center provides a variety of workshops and customized training sessions to organizations throughout DOT. Our workshops can be customized to meet the needs of your office or organization." />
    <meta name="abstract" content="The Disability Resource Center provides a variety of workshops and customized training sessions to organizations throughout DOT. Our workshops can be customized to meet the needs of your office or organization." />
    <meta name="keywords" content=", ," />
    <meta name="news_keywords" content=", ," />
    <meta name="generator" content="Drupal 7 (http://drupal.org)" />
    <link rel="image_src" href="https://www.transportation.gov/Property%20field_supplemental_image" />
    <link rel="canonical" href="https://www.transportation.gov/drc/consumer-outreach-education" />
    <link rel="shortlink" href="https://www.transportation.gov/node/167" />
    <link type="text/css" rel="stylesheet" href="https://www.transportation.gov/sites/dot.gov/files/css/css_kShW4RPmRstZ3SpIC-ZvVGNFVAi0WEMuCnI0ZkYIaFw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="https://www.transportation.gov/sites/dot.gov/files/css/css_hB8Hc8WVpXl2kgrb_DKiWwOboHWac6_kF-Le8eQ-rgw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="https://www.transportation.gov/sites/dot.gov/files/css/css_XmvlLVj5pJrbJGiEO79AZ5m3zlxqOTw81EUfMUyRsKc.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:800,700,600,500,400,300,200,100" media="all" />
    <link type="text/css" rel="stylesheet" href="https://www.transportation.gov/sites/dot.gov/files/css/css_Icf1c9Vp5-Z4RY9kbNg8US1T9FHD1-Z7_Mniu-Ywk8w.css" media="all" />
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_6Rbdg5DBW6SHXNvCi1ua3ic5VrlaQOTaoDc8ZkwWxkk.js"></script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_PSyrF8f5cdEIvH1tg5nTJpNL-0rQN9VYg0Q4NGD9wg4.js"></script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_gRnPdYhQK4BfSaWMc7XAXQebkkg4og9bDXmCup2BTNA.js"></script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_20zfpmzBa9tkRthzTkemRlAAG_55rmnvYcPk-0BDzHc.js"></script>
    <script>var switchTo5x = true;</script>
    <script src="https://ws.sharethis.com/button/buttons.js"></script>
    <script>if (stLight !== undefined) { stLight.options({ "publisher": "dr-9d9fa1ba-e97d-f465-c80c-4840730dfec", "version": "5x" }); }</script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_2t14JFxNsmXuSrBBKYsR5YNtLjOwu9qoZonh_BKtWb0.js"></script>
    <script>window.CKEDITOR_BASEPATH = '/sites/all/libraries/ckeditor/'</script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_I8yX6RYPZb7AtMcDUA3QKDZqVkvEn35ED11_1i7vVpc.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["GoogleAnalyticsObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"); ga("create", "UA-18660041-1", { "cookieDomain": "auto" }); ga("send", "pageview");</script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_pPpC2pWsmHUKboy8OYA-9E5C6FfVKXxZPkOVDcQKcrs.js"></script>
    <script src="https://www.transportation.gov/sites/dot.gov/files/js/js_1laR-7cTy8flhiykBJ9ymUsrmDhAzMBGtr-ZI2Vm9Fk.js"></script>
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metis")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/docs.css" rel="stylesheet" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-88 node-type-article section-drc">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <p id="skip-link">
        <a href="#content-start" class="element-invisible element-focusable">Jump to content</a>
    </p>

    <div id="page-bg-container">
        <!-- Site Notification Bar -->
        <div class="page-site-notification-wrapper">

        </div>
        <!-- /#Site Notification -->

        <div id="page-wrapper">
            <div id="page">

                <!-- pulls the header in from its own file  -->
                <header id="header" class="page">
                    <div class="section">
                        <div class="accent accent-tl"></div>
                        <div class="accent accent-tr"></div>
                        <div class="accent accent-bl"></div>
                        <div class="accent accent-br"></div>
                        <div id="icons-and-search" class="clearfix">
                            <div class="header__region region region-header">
                                <div id="block-search-form" class="block block-search first last odd" role="search">

                                    @Html.Partial("_PartialIndex")
                                    <form action="//search.usa.gov/search" method="get" id="search-block-form" accept-charset="UTF-8">
                                        <div>
                                            <div class="container-inline">
                                                <h2 class="element-invisible">Search form</h2>
                                                <div class="form-item form-type-textfield form-item-search-block-form">
                                                    <label class="element-invisible" for="edit-search-block-form--2">GO </label>
                                                    <input class="usagov-search-autocomplete ui-autocomplete-input ui-corner-all form-text" autocomplete="off" type="text" name="query" placeholder="Search DOT site" type="text" id="edit-search-block-form--2" value="" size="15" maxlength="128" />
                                                </div>
                                                <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="GO" class="form-submit" /></div><input type="hidden" name="affiliate" value="usdot" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="logo-sitename" class="clearfix">





                            <a aria-hidden="true" id="home-page-logo_desktop" href="/" title="Home" rel="home" id="logo"><img src="/img/logo.png" alt="US Department of Transportation"></img></a>
                            <a aria-hidden="true" id="home-page-logo_mobile" href="/" title="Home" rel="home" id="logo"><img src="/sites/dot.gov/themes/dot/images/mobile_logo_small.png" alt="US Department of Transportation"></img></a>



                        </div>

                        <nav id="navigation">
                            <div class="section clearfix">

                                <h2 class="element-invisible">Main menu</h2>

                                <!--
                                                                <ul id="main-menu" class="links inline clearfix">
                                                                    <li class="menu-10244 first"><a href="/about" title="" class="menu-minipanel menu-minipanel-10244">About DOT</a></li>
                                                                    <li class="menu-10197"><a href="/our-activities" title="" class="menu-minipanel menu-minipanel-10197">Our Activities</a></li>
                                                                    <li class="menu-10207 last"><a href="/areas-of-focus" title="" class="menu-minipanel menu-minipanel-10207">Areas of Focus</a></li>
                                                                </ul>
                                -->
                                <!--<ul id="main-menu" class="links inline clearfix">
                                    <li class="menu-10244 first">@Html.ActionLink("DRC", "Index", "DRC")</li>
                                    <li class="menu-10197">@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                    <li class="menu-10207 last">@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                </ul>-->

                                <ul>
                                    <li>@Html.Partial("_LoginPartial2")</li>


                                </ul>




                            </div>
                        </nav><!-- /.section, /#navigation -->

                    </div>
                </header><!-- /.section, /#header -->

                <a name="content-start"></a>

                <div id="main-wrapper">

                    <div id="main" class="clearfix with-navigation">

                        <div id="content" class="column">
                            <section class="section">

                                <!--  <div class="pre-content">


                                hgnghnghn


                                                                </div>-->

                                <div id="panel-wrapper" class="clearfix with-sidebar">

                                    <nav id="page-subnav" class="subNavMenu">
                                        <div id="page-subNavMenu">

                                        </div>
                                    </nav>

                                    <div id="panel-content" class="content-container clearfix article">

                                        <div>
                                            @RenderBody()

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metis")
    @Scripts.Render("~/bundles/startmin")

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('.MyTable').DataTable();
    });


    </script>
    @if (Request.IsAuthenticated)
    {
        <script type="text/javascript">
        var global_sess_expirationSeconds = @Session.Timeout*60;
        var global_sess_warningSeconds = @System.Configuration.ConfigurationManager.AppSettings["SessionWarningDelaySecond"].ToString();
        var global_LogoutUrl = "javascript:document.getElementById('logoutForm').submit()";
        var global_sess_resetPage = '@Url.Action("Index", "JS")';
        </script>
    }
    <script src="~/Scripts/session.warning.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

