
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> Demo Pages <b class="caret"></b>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>@Html.ActionLink("DRC Layout 1", "Index", "DRC")</li>
        <li>@Html.ActionLink("DRC Layout 2", "Index2", "DRC")</li>
        <li>@Html.ActionLink("DRC Layout 3", "Index3", "DRC")</li>
        <li>@Html.ActionLink("DRC Layout 4", "Index4", "DRC")</li>
        <li>@Html.ActionLink("DRC Layout 5", "Index1", "DRC")</li>
    </ul>
    </li>