
@model DRCTS.Models.RequestViewModel



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!--<h4>RequestViewModel</h4>-->

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <fieldset>
            <legend>Employee Information</legend>
            <div class="form-group">


                <div class="col-md-6">
                    @Html.LabelFor(model => model.OA, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.OA, ViewBag.OACodes as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OA, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Source, ViewBag.dSource as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6">

                    @Html.HiddenFor(model => model.CaseID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CaseID, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group row">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.EmployeeFirstName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EmployeeFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeFirstName, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-4">
                    @Html.LabelFor(model => model.EmployeeLastName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.EmployeeLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeLastName, "", new { @class = "text-danger" })
                </div>


            </div>
            <div class="form-group row">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.EmployeePhone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EmployeePhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeePhone, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.EmployeeEmail, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EmployeeEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeEmail, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">


            </div>
            <div class="form-group row">



                <div class="col-md-2">
                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                </div>
                @Html.HiddenFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>






        </fieldset>

        <br />
        <fieldset>
            <legend>Request Information</legend>



            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.Disability, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Disability, ViewBag.dCodes as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Disability, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.SupervisorFirstName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.SupervisorFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SupervisorFirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.SupervisorLastName, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.SupervisorLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SupervisorLastName, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.SupervisorPhone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SupervisorPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SupervisorPhone, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="form-group">

                <div class="col-md-6 myTextArea">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })<br />
                    @Html.TextAreaFor(model => model.Description, 5, 80, new { htmlAttributes = new { @class = "form-control myTextArea" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.DRCRequestType, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.DRCRequestType, ViewBag.drcReq as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DRCRequestType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">


                <div class="col-md-3">
                    @Html.LabelFor(model => model.DateRequestReceived, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateRequestReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateRequestReceived, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.COWADate, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.COWADate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COWADate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DateFulfilled, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateFulfilled, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateFulfilled, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-6">
                    @Html.LabelFor(model => model.RequestedMD715, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.RequestedMD715, ViewBag.MD715 as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequestedMD715, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EndMD715, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.EndMD715, ViewBag.MD715 as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndMD715, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Purchasing, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Purchasing, ViewBag.MD715 as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Purchasing, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PRNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PRNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PRNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.AnalystAssigned, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.AnalystAssigned, ViewBag.Analyst as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnalystAssigned, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Notes, ViewBag.nCodes as SelectList, "Select One", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })<br />
                    @Html.TextAreaFor(model => model.Comments, 5, 80, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>

        <br />
        <fieldset>
            <legend> DRC Reporting Information</legend>

            <div class="form-group row">

                <div class="col-md-3">
                    @Html.LabelFor(model => model.DateCompleted, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.DateCompleted, new { htmlAttributes = new { @Value = string.Format("{0:d}", Model.DateCompleted), @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DateCompleted, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.QuarterReceived, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.QuarterReceived, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.QuarterReceived, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DRCStatus, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.DRCStatus, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DRCStatus, "", new { @class = "text-danger" })
                </div>


            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.OC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OC, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.OC, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.TFToday, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TFToday, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.TFToday, "", new { @class = "text-danger" })
                </div>
            </div>




            @Html.HiddenFor(model => model.TFReportDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TFReportDate, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReportInOut, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReportInOut, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })

        </fieldset>








        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}


